repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.5
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
          - --hook-config=--retry-once-with-cleanup=true
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      - id: terraform_docs
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--create-file-if-not-exist=true

  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.9
    hooks:
      - id: checkov
        args:
          - --directory=terraform/
          - --skip-check=CKV_AWS_18,CKV_AWS_19  # Skip S3 logging for dev
          - --quiet

  - repo: https://github.com/infracost/infracost
    rev: v0.10.29
    hooks:
      - id: infracost
        args:
          - --path=terraform/environments/dev
          - --terraform-plan-flags=-var-file=terraform.tfvars.example
        verbose: true
